.attraction {
  &--grid {
    grid-area: attraction;
  }
}

.attraction__legend {
  @media (min-width: @tablet-width) {
    margin-bottom: 47.5px;
  }
}

.attraction__box {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.attraction__label {
  &::before {
    top: -10px;
    .dimensions(46px, 46px);
  }

  .attraction__input:checked + &::after {
    top: 4px;
    left: 13px;
    .dimensions(23.13px, 16.23px);
    background-image: @input-checked;
  }
}
