.attraction {
  &--grid {
    grid-area: attraction;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 62.5px;
  }
}

.attraction__legend {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47.5px;
  }
}

.attraction__box {
  @media (min-width: @tablet-width) {
    margin: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 43px;
  }
}

.attraction__text {
  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.attraction__label {
  &::before {
    top: -10px;
    .dimensions(46px, 46px);
  }

  .attraction__input:checked + &::after {
    top: 4px;
    left: 13px;
    .dimensions(23.13px, 16.23px);
    background-image: @input-checked;
  }
}
