.box-text {
  margin-top: 0;
}

.box-text__label {
  .size(14px, inherit, 400);
}

.box-text__input {
  .bg(@bg-input, none);
  position: relative;
}

.box-text__input--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* .dimensions(58px, 58px); */
  width: 58px;
  height: 58px;
  /* background-color: red; */
  /* .bg(@bg-input-img, @input-tel); */
}
