.cause {

  @media (min-width: @tablet-width) {
    & {
      display: flex;
    }
  }
}

.cause__box {
  padding-top: 39px;
  padding-bottom: 37px;
  .bg(@bg-cause, none);
  .color-text(@color-text2);

  @media (min-width: @tablet-width) {
    & {
      padding: 40px 32px;
    }
  }
}

.cause__box--top {
  padding-top: 55px;

  @media (min-width: @tablet-width) {
    & {
      padding-top: 40px;
    }
  }
}

.cause__box--bottom {
  order: 2;
}

.cause__box * {
  margin-top: 0;
  margin-bottom: 20px;
}

.cause__box *:last-child {
  margin-bottom: 0;
}

.cause__title {
  font-size: 18px;
}

.cause__text {
  .color-text(@color-text2);
}

.couse__img {
  display: block;
}
