.cause {
  @media (min-width: @tablet-width) {
    & {
      padding: 40px 32px;
    }
  }
}

.cause--color {
  .bg(@bg-cause, none);
  .color-text(@color-text2);
  padding-bottom: 37px;
}

.cause * {
  margin-top: 0;
  margin-bottom: 20px;
}

.cause *:last-child {
  margin-bottom: 0;
}

.cause__text--color {
  .color-text(@color-text2);
}
