.contacts {
  &--grid {
    grid-area: contacts;
  }
}

.contacts__legend {
  margin-bottom: 17px;
}

.contacts__box {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__label {
  margin-bottom: 38px;
}
