.contacts {
  &--grid {
    grid-area: contacts;
  }
}

.contacts__legend {
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20.5px;
    padding-top: 70.5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71.5px;
  }
}

.contacts__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.contacts__box {
  margin-bottom: 14px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    flex-grow: 1;

    &--tel {
      margin-right: 79px;
    }

    &--email {
      justify-content: flex-end;
    }
  }
}

.contacts__label {
  @media (min-width: @desktop-width) {
    margin-right: 17px;
  }
}

.contacts__label--img::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  .dimensions(58px, 58px);
  background-color: @bg-input-img;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

.contacts__label--tel::after {
  background-image: @input-tel;
}

.contacts__label--email::after {
  background-image: @input-mail;
}

.contacts__span {
  display: none;
}
