.describe-your-emotions__legend {
  margin-bottom: 15px;
}

.describe-your-emotions__textarea {
  margin: 0 20px;
  border: none;
  display: block;
  max-width: 279px;
  min-height: 160px;
  background-color: @bg-input;
}
