.describe-your-emotions {
  box-sizing: border-box;
}

.describe-your-emotions__legend {
  margin-bottom: 15px;
}

.describe-your-emotions__textarea {
  margin: 0 20px;
  border: none;
  padding: 13px 22px 29px;
  /* display: block; */
  width: 100%;
  background-color: @bg-input;
}
