.find-a-hotel {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.find-a-hotel * {
  margin-top: 0;
}

.find-a-hotel__title {
  font-size: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.find-a-hotel__text {
  .size(14px, 24px, 400);
  .color-text(@color-text1);
  margin-bottom: 27px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}

.find-a-hotel__button {
  width: 100%;
  border: none;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  font-size: 21px;
  color: @color-text2;
  background-color: @bg-cause;

  &:hover {
    background-color: @bg-cause-hover;
  }

  &:active {
    opacity: 0.3;
    background-color: @bg-cause-active;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
