.form-modal {
  text-align: center;
  background-color: @color-text2;
  box-shadow: 0 7px 15px @form-modal;
  position: absolute;

  & * {
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.form-modal__title {
  .size(inherit, inherit, inherit);
}

.form-modal__text {
  .size(14px, 24px, 400);
}

.form-modal__br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form-modal__btn {
  border: 0;
  color: @color-text2;
  background-color: @bg-cause;
}
