.img-block__list {
  .list();
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    /* display: grid;
    grid-template-rows: 1fr min-content min-content;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
  }
}

.img-block__item {
  padding-top: 22px;
  padding-bottom: 21px;
  border-bottom: 1px solid @color-line;

  &:first-child {
    border-top: 1px solid @color-line;
    /* grid-column: 1 / span 3; */
    flex-grow: 1;
  }

  & * {
    margin-top: 0;
  }
}

.img-block__title,
.img-block__author,
.img-block__likes {
  .size(14px, 24px, inherit);
}

.img-block__author {
  font-weight: 400;
  margin-bottom: 13px;
}

.img-block__img {
  display: block;
  margin-bottom: 11px;
}
