.intro__box {
  .bg(@color-text1, @bg-img-intro);
  height: 389px;
  margin-bottom: 32px;
}

.intro__img {
  margin: 0 auto;
  padding-top: 90px;
  display: block;
}

.intro__text {
  margin-top: 0;
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }

  &--height {
    line-height: 26px;
  }
}
