.introduce-yourself {
  padding-bottom: 25px;
}

.introduce-yourself__legend {
  margin-bottom: 19px;
}

.introduce-yourself__box {
  margin-bottom: 20px;
}

.introduce-yourself__box:last-child {
  margin-bottom: 0;
}
