.leave-a-review__container {
  border-top: 1px solid @color-line;
}

.leave-a-review__fieldset {
  border: none;
  border-bottom: 1px solid @color-line;
  padding: 0;
}

.leave-a-review__fieldset--bottom {
  padding-bottom: 30px;
}

.leave-a-review__fieldset:last-of-type {
  border-bottom: none;
}

.leave-a-review__introduce-yourself {
  padding-bottom: 25px;
}

.leave-a-review__contacts {
  padding-bottom: 28px;
}

.leave-a-review__describe-your-emotions {
  padding-bottom: 51px;
}

.leave-a-review__legend {
  padding-top: 20px;
}

.leave-a-review__legend--bottom {
  margin-bottom: 25px;
}
