.main-header {
  border-bottom: 1px solid @color-line;
  padding-bottom: 18px;
}

.main-header * {
  margin-top: 0;
}

.main-header *:last-child {
  margin-bottom: 0;
}

.main-header__title {
  .size(inherit; inherit; inherit);
}

.main-header__text {
  .size(14px; 24px; 400);
}
