.main-header * {
  margin-top: 0;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-header__title {
  .size(inherit; inherit; inherit);

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.main-header__text {
  .size(14px; 24px; 400);

  &--gallery {
    margin: 0 auto;
    width: 280px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 435px;
  }
}
