.other-benefits {
  .bg(@bg-the-reasons, none);
}

.other-benefits * {
  margin-top: 0;
}

.other-benefits__list {
  .list();
  margin: 0 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 48px;
  }
}

.other-benefits__item {
  border-bottom: 1px solid @other-benefits-line;
  padding-top: 25px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  & *:last-child {
    margin-bottom: 24px;
  }

  &:last-child *:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    border-bottom: none;

    & *:last-child {
      margin-bottom: 0;
    }
  }
}

.other-benefits__title {
  .font-inherit();

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 21px;

    br {
      display: block;
    }
  }
}

.other-benefits__text {
  margin-right: 15px;
  margin-left: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 49px;
    margin-left: 49px;

    &--1 {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    &--2 {
      margin-right: 70px;
      margin-left: 70px;
    }
  }
}
