.other-benefits {
  .bg(@bg-the-reasons, none);
}

.other-benefits__list {
  .list();
  margin-bottom: 0;
}

.other-benefits__item {
  border-bottom: 1px solid @other-benefits-line;
  padding-top: 25px;
}

.other-benefits__item:first-child {
  padding-top: 0;
}

.other-benefits__item:last-child {
  border-bottom: none;
}

.other-benefits__item *:last-child {
  margin-bottom: 24px;
}

.other-benefits__item:last-child *:last-child {
  margin-bottom: 0;
}

.other-benefits__title {
  .font-inherit();
}
