.page-main__intro {
  padding-bottom: 11px;
}

.page-main__cause {
  @media (min-width: @tablet-width) {
    & {
      min-height: 256px;
    }
  }
}

.page-main__benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}

.page-main__other-benefits {
  padding-top: 26px;
  padding-bottom: 24px;
}

.page-main__find-a-hotel {
  padding-top: 33px;
  padding-bottom: 49px;
}

.page-main__block-sedona {
  min-height: 158px;

  &--form {
    margin-bottom: 36px;
  }

  &--gallery {
    margin-bottom: 24px;
  }
}

.page-main__main-header {
  margin-bottom: 18px;
}

.page-main__leave-a-review {
  padding-bottom: 48px;
}

.page-main__video-block {
  padding-top: 32px;
  padding-bottom: 49px;
}
