.page-header {
  display: flex;
  flex-direction: column;

  /* &--nojs {
    align-items: flex-start;
    height: auto;
  }
 */

  & * {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }
}

.page-header__logo {
  order: 2;
  margin: 0 auto;
  margin-bottom: -28px;
}
