.page-header {
  /* position: relative; */

  &--nojs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;

    /* & .page-header__logo {
      height: 56px;
    }

    & .page-header__logo-img {
      display: block;
      margin: 0 auto;
    } */
  }

  & * {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }
}

.page-header__logo {
  margin: 0 auto;
  margin-bottom: -28px;
}
