.page-header {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--column .page-header__logo {
    order: 2;
    margin-right: auto;
  }

  & * {
    margin-top: 0;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    position: relative;
  }
}

.page-header__logo {
  margin-left: auto;
  /* margin-left: 50%; */
  /* margin-right: 30%; */
  margin-bottom: -28px;

  @media (min-width: @tablet-width) {
    & {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
