.review-sent {
  padding: 0 20px;
  padding-bottom: 20px;
  top: 1813px;
}

.review-sent__title {
  margin-top: 38px;
}

.review-sent__text {
  margin-bottom: 48px;
}

.review-sent__btn {
  .dimensions(280px, 58px);
}
