.review-sent {
  top: 1813px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 640px;
    top: 1300px;
  }

  @media (min-width: @desktop-width) {
    top: 1170px;
  }
}

.review-sent__title {
  margin-top: 38px;
}

.review-sent__text {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin: 0 110px 32px;
  }
}

.review-sent__box {
  padding: 20px 0;
  background-color: @bg-input;

  @media (min-width: @tablet-width) {
    padding: 44px 0;
  }
}

.review-sent__btn {
  margin: 0 auto;
  .dimensions(280px, 58px);

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
