.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: @bg-cause;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link:hover {
  background-color: @bg-cause-hover;
}

.social__link:active {
  background-color: @bg-cause-active;
}
