html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333333;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
/*
.grid-box() {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
*/
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page__body {
    display: grid;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    min-height: 100%;
  }
}
.page__page-header {
  height: 56px;
}
.page__page-footer {
  padding-top: 28px;
  padding-bottom: 26px;
}
.text {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.page-header {
  position: relative;
}
.page-header * {
  margin-top: 0;
}
.page-header *:last-child {
  margin-bottom: 0;
}
.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.page-main__intro {
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .page-main__cause {
    min-height: 256px;
  }
}
.page-main__benefits {
  padding-top: 35px;
  padding-bottom: 35px;
}
.page-main__other-benefits {
  padding-top: 26px;
  padding-bottom: 24px;
}
.page-main__find-a-hotel {
  padding-top: 33px;
  padding-bottom: 49px;
}
.page-main__block-sedona {
  min-height: 158px;
}
.page-main__block-sedona--form {
  margin-bottom: 36px;
}
.page-main__block-sedona--gallery {
  margin-bottom: 24px;
}
.page-main__main-header {
  margin-bottom: 18px;
}
.page-main__leave-a-review {
  padding-bottom: 48px;
}
.page-main__video-block {
  padding-top: 32px;
  padding-bottom: 49px;
}
.main-header * {
  margin-top: 0;
}
.main-header *:last-child {
  margin-bottom: 0;
}
.main-header__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.main-header__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  padding-left: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .cause {
    display: flex;
  }
}
.cause__box {
  padding-top: 39px;
  padding-bottom: 37px;
  background-color: #81B3D2;
  background-image: none;
  background-repeat: no-repeat;
  color: #FFF;
}
@media (min-width: 768px) {
  .cause__box {
    padding: 40px 32px;
    width: 256px;
  }
}
.cause__box--top {
  padding-top: 55px;
}
@media (min-width: 768px) {
  .cause__box--top {
    padding-top: 40px;
  }
}
.cause__box--bottom {
  order: 2;
}
.cause__box * {
  margin-top: 0;
  margin-bottom: 20px;
}
.cause__box *:last-child {
  margin-bottom: 0;
}
.cause__title {
  font-size: inherit;
  font-weight: inherit;
}
.cause__text {
  color: #FFF;
}
.couse__img {
  display: block;
}
.intro__box {
  background-color: #333;
  background-image: url("../../img/back/index-back-mobile.jpg");
  background-repeat: no-repeat;
  height: 389px;
  margin-bottom: 32px;
}
.intro__img {
  margin: 0 auto;
  padding-top: 90px;
  display: block;
}
.intro__text {
  margin-top: 0;
  margin-bottom: 21px;
}
.intro__text:last-child {
  margin-bottom: 0;
}
.intro__text--height {
  line-height: 26px;
}
.benefits * {
  margin-top: 0;
}
.benefits__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .benefits__list {
    display: flex;
    gap: 70px;
  }
}
.benefits__item {
  padding-left: 48px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .benefits__item {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 101px;
  }
}
.benefits__item:first-child {
  background: url("../../img/benefits/icon-house.png") no-repeat;
}
@media (min-width: 768px) {
  .benefits__item:first-child {
    background-position: center 0;
  }
}
@media (max-width: 767px) {
  .benefits__item:first-child {
    background-size: 39px 36.83px;
  }
}
.benefits__item:nth-child(2) {
  background: url("../../img/benefits/icon-gift.png") no-repeat;
}
@media (min-width: 768px) {
  .benefits__item:nth-child(2) {
    background-position: center 0;
  }
}
@media (max-width: 767px) {
  .benefits__item:nth-child(2) {
    background-size: 32px 38px;
  }
}
.benefits__item:last-child {
  background: url("../../img/benefits/icon-burger.png") no-repeat;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .benefits__item:last-child {
    background-position: center 0;
  }
}
@media (max-width: 767px) {
  .benefits__item:last-child {
    background-size: 40px 34.9px;
  }
}
.benefits__item *:last-child {
  margin-bottom: 0;
}
.benefits__title {
  font-size: inherit;
  font-weight: inherit;
}
.other-benefits {
  background-color: #EEEEEE;
  background-image: none;
  background-repeat: no-repeat;
}
.other-benefits__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .other-benefits__list {
    display: flex;
  }
}
.other-benefits__item {
  border-bottom: 1px solid #D6D6D6;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .other-benefits__item {
    padding-top: 0;
  }
}
.other-benefits__item:first-child {
  padding-top: 0;
}
.other-benefits__item:last-child {
  border-bottom: none;
}
.other-benefits__item *:last-child {
  margin-bottom: 24px;
}
.other-benefits__item:last-child *:last-child {
  margin-bottom: 0;
}
.other-benefits__title {
  font-size: inherit;
  font-weight: inherit;
}
.find-a-hotel * {
  margin-top: 0;
}
.find-a-hotel__title,
.find-a-hotel__text {
  font-size: 21px;
  line-height: 18px;
}
.find-a-hotel__title {
  margin-bottom: 21px;
}
.find-a-hotel__text {
  color: #333;
  margin-bottom: 27px;
  font-weight: 400;
}
.block-sedona {
  background-color: #333;
  background-image: url("../../img/back/back-mobile.jpg");
  background-repeat: no-repeat;
}
.block-sedona--gallery {
  margin-bottom: 24px;
}
.block-sedona__img {
  margin: 0 auto;
  padding-top: 52px;
  display: block;
}
.box-text {
  margin-top: 0;
}
.box-text__label {
  font-size: 14px;
  line-height: inherit;
  font-weight: 400;
}
.box-text__input {
  background-color: #F2F2F2;
  background-image: none;
  background-repeat: no-repeat;
  position: relative;
}
.box-text__input--img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* .dimensions(58px, 58px); */
  width: 58px;
  height: 58px;
  /* background-color: red; */
  /* .bg(@bg-input-img, @input-tel); */
}
.box-checked {
  margin-top: 0;
  margin-bottom: 34px;
}
.box-checked:last-child {
  margin-bottom: 0;
}
.box-checked--radio {
  margin-bottom: 21px;
}
.leave-a-review__container {
  border-top: 1px solid #E5E5E5;
}
.leave-a-review__fieldset {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
}
.leave-a-review__fieldset--bottom {
  padding-bottom: 30px;
}
.leave-a-review__fieldset:last-of-type {
  border-bottom: none;
}
.leave-a-review__introduce-yourself {
  padding-bottom: 25px;
}
.leave-a-review__contacts {
  padding-bottom: 28px;
}
.leave-a-review__describe-your-emotions {
  padding-bottom: 51px;
}
.leave-a-review__legend {
  padding-top: 20px;
}
.leave-a-review__legend--bottom {
  margin-bottom: 25px;
}
.leave-a-review__box {
  display: flex;
}
.leave-a-review__required-fields {
  display: none;
}
@media (min-width: 768px) {
  .leave-a-review__required-fields {
    display: block;
    font-size: 14px;
    line-height: inherit;
    font-weight: 400;
    color: #333;
  }
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-areas: "impression introduceyourself" "contacts contacts" "attraction attraction";
  }
}
.container .leave-a-review__fieldset:last-of-type {
  border-bottom: 1px solid #E5E5E5;
}
.impression--grid {
  grid-area: impression;
}
.attraction--grid {
  grid-area: attraction;
}
.introduce-yourself--grid {
  grid-area: introduceyourself;
}
.introduce-yourself__legend {
  margin-bottom: 19px;
}
.introduce-yourself__box {
  margin-bottom: 20px;
}
.introduce-yourself__box:last-child {
  margin-bottom: 0;
}
.contacts--grid {
  grid-area: contacts;
}
.contacts__legend {
  margin-bottom: 17px;
}
.contacts__box {
  margin-bottom: 14px;
}
.contacts__box:last-child {
  margin-bottom: 0;
}
.describe-your-emotions__legend {
  margin-bottom: 15px;
}
.describe-your-emotions__textarea {
  display: block;
}
.img-block__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .img-block__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .img-block__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.img-block__item {
  padding-top: 22px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E5E5E5;
}
.img-block__item:first-child {
  border-top: 1px solid #E5E5E5;
}
.img-block__item * {
  margin-top: 0;
}
@media (min-width: 768px) {
  .img-block__item:first-child {
    grid-column: 1 / span 2;
    /*  grid-column: 1 / -1;
      grid-row: 1; */
  }
}
@media (min-width: 1200px) {
  .img-block__item:first-child {
    grid-column: 1 / span 3;
  }
}
.img-block__title,
.img-block__author,
.img-block__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: inherit;
}
.img-block__author {
  font-weight: 400;
  margin-bottom: 13px;
}
.img-block__img {
  display: block;
  margin-bottom: 11px;
}
.video-block * {
  margin-top: 0;
}
.video-block__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.video-block__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.video-block__video {
  display: block;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
  }
}
.page-footer * {
  margin-top: 0;
}
.page-footer__text {
  font-size: 21px;
}
.page-footer__link {
  font-size: 14px;
  line-height: inherit;
  font-weight: 400;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
