html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333333;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  margin: 0 auto;
  max-width: 1200px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page__body {
    display: grid;
    grid-template-rows: -webkit-min-content -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content min-content 1fr min-content;
    min-height: 100%;
  }
}
.page__paragraph {
  text-align: center;
}
.page__page-footer {
  padding-top: 28px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .page__page-footer {
    padding: 36px 83px 36px 45px;
  }
}
@media (min-width: 1200px) {
  .page__page-footer {
    padding-left: 104px;
    padding-right: 143px;
  }
}
.sprite__logotype-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .sprite__logotype-desktop {
    display: block;
  }
}
.text {
  color: #333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.page-header {
  display: flex;
}
.page-header--column {
  flex-direction: column;
}
.page-header--block {
  display: block;
  position: relative;
  height: 56px;
}
.page-header--column .page-header__box {
  order: 2;
}
.page-header--block .page-header__box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.page-header--block .main-nav {
  padding-top: 17px;
}
.page-header--block .main-nav__toggle {
  margin-left: auto;
}
.page-header * {
  margin-top: 0;
}
.page-header *:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .page-header {
    margin-bottom: -33px;
  }
  .page-header--block {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .page-header {
    display: block;
    position: relative;
  }
}
@media (max-width: 767px) {
  .page-header__box {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .page-header__box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.page-main__intro {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .page-main__intro {
    margin-bottom: 52.5px;
  }
}
@media (min-width: 1200px) {
  .page-main__intro {
    margin-bottom: 41px;
  }
}
@media (min-width: 768px) {
  .page-main__cause {
    min-height: 256px;
  }
}
.page-main__benefits {
  padding-top: 35px;
  padding-bottom: 9px;
}
@media (min-width: 768px) {
  .page-main__benefits {
    padding-top: 60px;
    padding-bottom: 39px;
  }
}
.page-main__other-benefits {
  padding-top: 26px;
  padding-bottom: 24px;
}
@media (min-width: 768px) {
  .page-main__other-benefits {
    padding-top: 41px;
    padding-bottom: 21px;
  }
}
.page-main__find-a-hotel {
  padding-top: 33px;
  padding-bottom: 49px;
}
.page-main__block-sedona {
  min-height: 158px;
}
.page-main__block-sedona--form {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .page-main__block-sedona--form {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .page-main__block-sedona--form {
    margin-bottom: 114px;
  }
}
.page-main__block-sedona--gallery {
  margin-bottom: 24px;
}
.page-main__main-header--form {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .page-main__main-header--form {
    margin-bottom: 46.5px;
  }
}
@media (min-width: 1200px) {
  .page-main__main-header--form {
    margin-bottom: 36.5px;
  }
}
.page-main__main-header--gallery {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .page-main__main-header--gallery {
    margin-bottom: 59px;
  }
}
@media (min-width: 1200px) {
  .page-main__main-header--gallery {
    margin-bottom: 67px;
  }
}
.page-main__leave-a-review {
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .page-main__leave-a-review {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .page-main__leave-a-review {
    padding-left: 120px;
    padding-right: 120px;
  }
}
.page-main__video-block {
  padding-top: 32px;
  padding-bottom: 49px;
  text-align: center;
  /* @media (min-width: @tablet-width) {

  } */
}
.main-header * {
  margin-top: 0;
  text-align: center;
}
.main-header *:last-child {
  margin-bottom: 0;
}
.main-header__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
@media (min-width: 768px) {
  .main-header__title {
    font-size: 30px;
  }
}
.main-header__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.main-header__text--gallery {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 768px) {
  .main-header__text {
    margin: 0 auto;
    width: 435px;
  }
}
.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--closed {
  margin-right: 20.1px;
  align-self: center;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--closed .main-nav__toggle {
  width: 23px;
  height: 22px;
  display: block;
  position: relative;
  background-color: #FFF;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #81B3D2;
  box-shadow: 0 8px 0 0 #81B3D2, 0 16px 0 0 #81B3D2;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(129, 179, 210, 0.3);
  box-shadow: 0 8px 0 0 rgba(129, 179, 210, 0.3), 0 16px 0 0 rgba(129, 179, 210, 0.3);
}
.main-nav--opened {
  position: relative;
}
.main-nav--opened .main-nav__toggle {
  width: 22.2px;
  height: 22.2px;
  position: absolute;
  top: 17px;
  right: 19.8px;
  z-index: 2;
  background-color: #81B3D2;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  left: 0;
  background-color: #FFF;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.main-nav__toggle {
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  position: relative;
}
.main-nav__list::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
  .main-nav__list::after {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .main-nav__box {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
  }
  .main-nav__box--bottom {
    justify-content: flex-end;
  }
}
@media (min-width: 768px) {
  .main-nav__item {
    width: 153px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    width: 239px;
  }
}
.main-nav__link {
  color: #FFF;
  display: block;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #81B3D2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.main-nav__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: inherit;
    color: #000;
    padding: 0;
    background-color: #FFF;
    box-shadow: none;
  }
  .main-nav__link:hover {
    color: #81B3D2;
  }
  .main-nav__link:active {
    color: #000;
    opacity: 0.3;
  }
  .main-nav__link--active {
    color: #766357;
  }
  .main-nav__link--active:hover {
    color: #604E43;
  }
  .main-nav__link--active:active {
    color: #766357;
  }
}
.cause {
  text-align: center;
}
@media (min-width: 768px) {
  .cause {
    display: flex;
  }
}
.cause__box {
  padding-top: 39px;
  padding-bottom: 37px;
  background-color: #81B3D2;
  background-image: none;
  background-repeat: no-repeat;
  color: #FFF;
}
@media (min-width: 768px) {
  .cause__box {
    padding: 40px 32px;
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .cause__box {
    padding: 49px 78px 55px;
    width: 400px;
  }
}
.cause__box--top {
  padding-top: 55px;
  background-image: url("../../img/cause/cause-left.png"), url("../../img/cause/cause-right.png");
  background-position: top left,
      top right;
}
@media (min-width: 768px) {
  .cause__box--top {
    padding-top: 42px;
    background-image: none;
  }
}
@media (min-width: 1200px) {
  .cause__box--top {
    padding-top: 49px;
  }
}
.cause__box--bottom {
  order: 2;
}
.cause__box * {
  margin-top: 0;
  margin-bottom: 20px;
}
.cause__box *:last-child {
  margin-bottom: 0;
}
.cause__title {
  font-size: inherit;
  font-weight: inherit;
}
.cause__text {
  color: #FFF;
}
.couse__img {
  display: block;
  background-color: #81B3D2;
}
.intro__box {
  margin-bottom: 32px;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #333;
  background-image: url("../../img/back/vector-left-mobile.png"), url("../../img/back/vector-right-mobile.png"), url("../../img/back/index-back-mobile.jpg");
  background-position: 0 bottom,
    right bottom,
    0 0;
  background-repeat: no-repeat;
  min-height: 389px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro__box {
    background-image: url("../../img/back/vector-left-mobile.png"), url("../../img/back/vector-right-mobile.png"), url("../../img/back/index-back-mobile@2.jpg");
  }
}
@media (min-width: 768px) {
  .intro__box {
    margin-bottom: 43.5px;
    padding-top: 77px;
    padding-bottom: 70px;
    min-height: 518px;
    background-image: url("../../img/back/vector-left-tablet.png"), url("../../img/back/vector-right-tablet.png"), url("../../img/back/index-back-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .intro__box {
    background-image: url("../../img/back/vector-left-tablet.png"), url("../../img/back/vector-right-tablet.png"), url("../../img/back/index-back-tablet@2.jpg");
  }
}
@media (min-width: 1200px) {
  .intro__box {
    margin-bottom: 55px;
    background-image: url("../../img/back/vector-left-desktop.png"), url("../../img/back/vector-right-desktop.png"), url("../../img/back/index-back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .intro__box {
    background-image: url("../../img/back/vector-left-desktop.png"), url("../../img/back/vector-right-desktop.png"), url("../../img/back/index-back-desktop@2.jpg");
  }
}
.intro__img {
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .intro__img {
    width: 461px;
    height: 349.97px;
  }
}
@media (min-width: 1200px) {
  .intro__img {
    width: 459.5px;
  }
}
.intro__text {
  margin: 0 18px 21px 17px;
  text-align: center;
}
.intro__text:last-child {
  margin-bottom: 0;
}
.intro__text--height {
  line-height: 26px;
}
@media (min-width: 768px) {
  .intro__text br {
    display: none;
  }
  .intro__text--top {
    margin-left: 140px;
    margin-right: 140px;
  }
}
@media (min-width: 1200px) {
  .intro__text--top {
    margin-left: 350px;
    margin-right: 350px;
  }
}
.benefits * {
  margin-top: 0;
}
.benefits__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin: 0 22px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .benefits__list {
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.benefits__item {
  padding-left: 48px;
  margin-bottom: 26px;
}
.benefits__item:first-child {
  background: url("../../img/benefits/icon-house.png") no-repeat;
}
@media (min-width: 768px) {
  .benefits__item:first-child {
    background-position: center 0;
  }
}
@media (max-width: 767px) {
  .benefits__item:first-child {
    background-size: 39px 36.83px;
  }
}
.benefits__item:nth-child(2) {
  background: url("../../img/benefits/icon-burger.png") no-repeat;
}
@media (min-width: 768px) {
  .benefits__item:nth-child(2) {
    background-position: center 0;
  }
}
@media (max-width: 767px) {
  .benefits__item:nth-child(2) {
    background-size: 40px 34.9px;
    order: 3;
  }
}
.benefits__item:last-child {
  background: url("../../img/benefits/icon-gift.png") no-repeat;
}
@media (min-width: 768px) {
  .benefits__item:last-child {
    background-position: center 0;
  }
}
.benefits__item:last-child br {
  display: none;
}
@media (max-width: 767px) {
  .benefits__item:last-child {
    background-size: 32px 38px;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .benefits__item:last-child br {
    display: block;
  }
}
.benefits__item *:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .benefits__item:first-child .benefits__text {
    margin: 0 35px;
  }
}
@media (min-width: 768px) {
  .benefits__item:nth-child(2) .benefits__text {
    margin: 0 50px;
  }
}
@media (min-width: 768px) {
  .benefits__item:last-child .benefits__text {
    margin: 0 30px;
  }
}
@media (min-width: 768px) {
  .benefits__item {
    margin-bottom: 20px;
    padding-left: 0;
    padding-top: 98px;
    text-align: center;
    width: 256px;
  }
}
@media (min-width: 1200px) {
  .benefits__item {
    width: 400px;
  }
}
.benefits__title {
  padding-top: 10px;
  font-size: inherit;
  font-weight: inherit;
}
@media (min-width: 768px) {
  .benefits__title {
    padding-top: 0;
    font-size: 21px;
  }
}
.other-benefits {
  background-color: #EEEEEE;
  background-image: none;
  background-repeat: no-repeat;
}
.other-benefits * {
  margin-top: 0;
}
.other-benefits__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin: 0 20px;
  text-align: center;
}
@media (min-width: 768px) {
  .other-benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}
.other-benefits__item {
  border-bottom: 1px solid #D6D6D6;
  padding-top: 25px;
}
.other-benefits__item:first-child {
  padding-top: 0;
}
.other-benefits__item:last-child {
  border-bottom: none;
}
.other-benefits__item *:last-child {
  margin-bottom: 24px;
}
.other-benefits__item:last-child *:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .other-benefits__item {
    padding-top: 0;
    margin-bottom: 20px;
    border-bottom: none;
    width: 256px;
  }
  .other-benefits__item *:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .other-benefits__item {
    width: 400px;
  }
}
.other-benefits__title {
  font-size: inherit;
  font-weight: inherit;
}
.other-benefits__title br {
  display: none;
}
@media (min-width: 768px) {
  .other-benefits__title {
    font-size: 21px;
  }
  .other-benefits__title br {
    display: block;
  }
}
.other-benefits__text {
  margin-right: 15px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  .other-benefits__text--1 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .other-benefits__text--2 {
    margin-right: 55px;
    margin-left: 55px;
  }
  .other-benefits__text--3 {
    margin-right: 49px;
    margin-left: 49px;
  }
}
@media (min-width: 1200px) {
  .other-benefits__text--2 {
    margin-right: 70px;
    margin-left: 70px;
  }
}
.find-a-hotel {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}
.find-a-hotel * {
  margin-top: 0;
}
.find-a-hotel__title {
  font-size: 21px;
}
@media (min-width: 768px) {
  .find-a-hotel__title {
    font-size: 30px;
  }
}
.find-a-hotel__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  margin-bottom: 27px;
}
@media (max-width: 767px) {
  .find-a-hotel__text br {
    display: none;
  }
}
.find-a-hotel__button {
  width: 100%;
  border: none;
  padding-top: 14.5px;
  padding-bottom: 17.5px;
  font-size: 21px;
  color: #FFF;
  background-color: #81B3D2;
}
.find-a-hotel__button:hover {
  background-color: #669EC0;
}
.find-a-hotel__button:active {
  opacity: 0.3;
  background-color: #5496BD;
}
@media (min-width: 768px) {
  .find-a-hotel__button {
    width: 458px;
  }
}
.block-sedona {
  padding-top: 52px;
  padding-bottom: 40px;
  background-color: #333;
  background-image: url("../../img/back/vector-left-mobile.png"), url("../../img/back/vector-right-mobile.png"), url("../../img/back/back-mobile.jpg");
  background-position: 0 bottom,
    right bottom,
    0 0;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .block-sedona {
    background-image: url("../../img/back/vector-left-mobile.png"), url("../../img/back/vector-right-mobile.png"), url("../../img/back/back-mobile@2.jpg");
  }
}
@media (min-width: 768px) {
  .block-sedona {
    padding-top: 95px;
    padding-bottom: 70px;
    min-height: 290px;
    background-image: url("../../img/back/vector-left-tablet.png"), url("../../img/back/vector-right-tablet.png"), url("../../img/back/back-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .block-sedona {
    background-image: url("../../img/back/vector-left-tablet.png"), url("../../img/back/vector-right-tablet.png"), url("../../img/back/back-tablet@2.jpg");
  }
}
@media (min-width: 1200px) {
  .block-sedona {
    padding-top: 101px;
    min-height: 301px;
    background-image: url("../../img/back/vector-left-desktop.png"), url("../../img/back/vector-right-desktop.png"), url("../../img/back/back-desktop.jpg");
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 2dppx) {
  .block-sedona {
    background-image: url("../../img/back/vector-left-desktop.png"), url("../../img/back/vector-right-desktop.png"), url("../../img/back/back-desktop@2.jpg");
  }
}
.block-sedona--gallery {
  margin-bottom: 24px;
}
.block-sedona__img {
  margin: 0 auto;
  display: block;
}
@media (min-width: 768px) {
  .block-sedona__img {
    width: 456.9px;
  }
}
.box-text {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .box-text {
    margin: 0;
  }
}
.box-text__label {
  font-size: 14px;
  line-height: inherit;
  font-weight: 400;
}
.box-text__input {
  border: none;
  padding-left: 22px;
  width: 100%;
  height: 58px;
  line-height: 26px;
  background-color: #F2F2F2;
}
.box-text__input::-moz-placeholder {
  color: #000;
}
.box-text__input::placeholder {
  color: #000;
}
@media (min-width: 1200px) {
  .box-text__input--email {
    width: 316px;
  }
}
.box-checked {
  margin-top: 0;
  margin-right: 13px;
  margin-left: 24px;
  margin-bottom: 54px;
  padding-left: 60px;
  position: relative;
}
.box-checked:last-child {
  margin-bottom: 0;
}
.box-checked--radio {
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .box-checked {
    margin-right: 0;
    margin-left: 0;
  }
}
.box-checked__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box-checked__label::before,
.box-checked__label::after {
  content: "";
  position: absolute;
}
.box-checked__label::before {
  left: 0;
  background-color: #F2F2F2;
}
.leave-a-review__container {
  border-top: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .leave-a-review__container {
    border-top: 0;
  }
}
.leave-a-review__fieldset {
  border: none;
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
}
.leave-a-review__fieldset--bottom {
  padding-bottom: 30px;
}
.leave-a-review__fieldset:last-of-type {
  border-bottom: none;
}
@media (min-width: 768px) {
  .leave-a-review__fieldset {
    border-bottom: 0;
  }
}
.leave-a-review__introduce-yourself {
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .leave-a-review__introduce-yourself {
    padding-bottom: 0;
  }
}
.leave-a-review__contacts {
  padding-bottom: 28px;
}
@media (min-width: 768px) {
  .leave-a-review__contacts {
    padding-bottom: 31.5px;
  }
}
.leave-a-review__describe-your-emotions {
  padding-bottom: 51px;
}
.leave-a-review__legend {
  padding-top: 20px;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .leave-a-review__legend--align-1,
  .leave-a-review__legend--align-2 {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .leave-a-review__legend--align-2 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .leave-a-review__legend--line::before,
  .leave-a-review__legend--line::after {
    content: "";
    width: 123px;
    height: 1px;
    background-color: #DBDBDB;
    position: absolute;
    top: 70%;
  }
  .leave-a-review__legend--line::before {
    right: 135%;
  }
  .leave-a-review__legend--line::after {
    left: 135%;
  }
  .leave-a-review__legend--line-contacts::before,
  .leave-a-review__legend--line-contacts::after {
    top: 85%;
  }
  .leave-a-review__legend--line-describe-your-emotions::before {
    right: 144%;
  }
  .leave-a-review__legend--line-describe-your-emotions::after {
    left: 144%;
  }
}
@media (min-width: 1200px) {
  .leave-a-review__legend--line::before,
  .leave-a-review__legend--line::after {
    width: 280px;
  }
}
@media (min-width: 768px) {
  .leave-a-review__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.leave-a-review__btn {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  border: none;
  display: block;
  font-size: 21px;
  color: #FFF;
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .leave-a-review__btn {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .leave-a-review__btn {
    width: 480px;
  }
}
.leave-a-review__required-fields {
  display: none;
}
@media (min-width: 768px) {
  .leave-a-review__required-fields {
    display: block;
    font-size: 14px;
    line-height: inherit;
    font-weight: 400;
    color: #333;
  }
}
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "impression introduceyourself" "contacts contacts" "attraction attraction";
  }
}
.container .leave-a-review__fieldset:last-of-type {
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .container .leave-a-review__fieldset:last-of-type {
    border-bottom: 0;
  }
}
.impression--grid {
  grid-area: impression;
}
@media (min-width: 768px) {
  .impression {
    border-right: 1px solid #DBDBDB;
    padding-bottom: 0;
  }
}
.impression__legend {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .impression__legend {
    margin-bottom: 60.5px;
  }
}
@media (min-width: 768px) {
  .impression__radio {
    width: 280px;
    margin-right: 0;
  }
}
.impression__label::before,
.impression__label::after {
  border-radius: 50%;
}
.impression__label::before {
  top: -10px;
  width: 48px;
  height: 48px;
}
.impression__input:checked + .impression__label::after {
  top: 4px;
  left: 15px;
  width: 18px;
  height: 18px;
  background-color: #333;
}
.attraction--grid {
  grid-area: attraction;
}
@media (min-width: 1200px) {
  .attraction {
    padding-bottom: 62.5px;
  }
}
.attraction__legend {
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .attraction__legend {
    margin-bottom: 47.5px;
  }
}
@media (min-width: 768px) {
  .attraction__box {
    margin: 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .attraction__box {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 43px;
  }
}
@media (min-width: 1200px) {
  .attraction__text {
    margin-bottom: 0;
  }
}
.attraction__label::before {
  top: -10px;
  width: 46px;
  height: 46px;
}
.attraction__input:checked + .attraction__label::after {
  top: 4px;
  left: 13px;
  width: 23.13px;
  height: 16.23px;
  background-image: url("../../img/tick.png");
}
.introduce-yourself--grid {
  grid-area: introduceyourself;
}
@media (min-width: 768px) {
  .introduce-yourself {
    margin: 0 40px;
  }
}
@media (min-width: 1200px) {
  .introduce-yourself {
    margin-left: 79px;
  }
}
.introduce-yourself__legend {
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .introduce-yourself__legend {
    margin-bottom: 54px;
  }
}
.introduce-yourself__box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.introduce-yourself__box:last-child {
  margin-bottom: 0;
}
.introduce-yourself__label {
  margin-right: 15px;
}
.contacts--grid {
  grid-area: contacts;
}
.contacts__legend {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .contacts__legend {
    margin-bottom: 20.5px;
    padding-top: 70.5px;
  }
}
@media (min-width: 1200px) {
  .contacts__legend {
    margin-bottom: 71.5px;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
  }
}
.contacts__box {
  margin-bottom: 14px;
  position: relative;
}
.contacts__box:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .contacts__box {
    align-items: center;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .contacts__box {
    display: flex;
    margin-bottom: 0;
    flex-grow: 1;
  }
  .contacts__box--tel {
    margin-right: 79px;
  }
  .contacts__box--email {
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .contacts__label {
    margin-right: 17px;
  }
}
.contacts__label--img::after {
  content: "";
  position: absolute;
  top: 27px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 1200px) {
  .contacts__label--img::after {
    top: 0;
  }
}
.contacts__label--tel::after {
  background-image: url("../../img/phone.png");
}
.contacts__label--email::after {
  background-image: url("../../img/mail.png");
}
.contacts__span {
  display: none;
}
.describe-your-emotions {
  box-sizing: border-box;
}
.describe-your-emotions__legend {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .describe-your-emotions__legend {
    margin-bottom: 54.5px;
  }
}
.describe-your-emotions__textarea {
  margin: 0 20px;
  /* margin: 0 auto; */
  border: none;
  padding: 13px 22px 29px;
  display: block;
  /* width: 279px; */
  height: 160px;
  background-color: #F2F2F2;
  /* box-sizing: border-box; */
}
@media (min-width: 768px) {
  .describe-your-emotions__textarea {
    margin: 0;
    width: 100%;
  }
}
.img-block__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .img-block__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .img-block__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.img-block__item {
  padding: 22px 20px 21px;
  /* padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 21px; */
  border-bottom: 1px solid #E5E5E5;
}
.img-block__item:first-child {
  border-top: 1px solid #E5E5E5;
}
.img-block__item * {
  margin-top: 0;
}
@media (min-width: 768px) {
  .img-block__item {
    border-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #F2F2F2;
  }
  .img-block__item:first-child {
    border-top: 0;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .img-block__item--bg {
    background-color: #EAEAEA;
  }
}
@media (min-width: 1200px) {
  .img-block__item {
    padding-bottom: 0;
    position: relative;
  }
}
.img-block__box {
  /* margin: 0 20px; */
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .img-block__box {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .img-block__box {
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 80px;
    /* color: @color-text2; */
    background: rgba(0, 0, 0, 0.3);
    /* background: @bgi-line repeat-x; */
  }
}
.img-block__title,
.img-block__author,
.img-block__likes {
  font-size: 14px;
  line-height: 24px;
  font-weight: inherit;
}
@media (min-width: 768px) {
  .img-block__title,
  .img-block__author {
    padding-left: 20px;
  }
}
.img-block__title {
  margin-bottom: 6px;
}
.img-block__author {
  font-weight: 400;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .img-block__author {
    margin-bottom: 0;
  }
}
.img-block__img {
  display: block;
  margin-bottom: 11px;
}
@media (min-width: 1200px) {
  .img-block__img {
    margin-bottom: 0;
  }
}
.img-block__btn {
  border: 0;
  padding-left: 37px;
  width: 100px;
  text-align: left;
  /* background: @icon-like no-repeat 0 50%; */
  /* background-image: @icon-like; */
  background-repeat: no-repeat;
  background-position: 0 50%;
}
@media (min-width: 768px) {
  .img-block__btn {
    position: absolute;
    right: 0;
    bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .img-block__btn {
    background-image: url("../../img/like-icon-white.png");
  }
}
@media (min-width: 1200px) {
  .img-block__box-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 0.3;
  }
}
.video-block * {
  margin-top: 0;
}
.video-block__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
@media (min-width: 768px) {
  .video-block__title {
    font-size: 30px;
  }
}
.video-block__text {
  margin: 0 40px;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .video-block__text {
    margin: 0 160px;
    margin-bottom: 62px;
  }
}
.video-block__video {
  display: block;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) {
  .video-block__video {
    margin: 0 auto;
  }
}
.video-block__wrapper {
  position: absolute;
}
@media (min-width: 1200px) {
  .video-block__wrapper--1 {
    /* outline: 3px solid red;
      outline-offset: -3px; */
    width: 280px;
    height: 45px;
    /* .dimensions(280px, 45px); */
  }
  .video-block__wrapper--2 {
    /* bottom: 30px; */
    /* z-index: 2; */
    background-color: #000;
  }
}
.page-footer {
  text-align: center;
}
.page-footer * {
  margin-top: 0;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.page-footer__text {
  margin-bottom: 33.5px;
  font-size: 21px;
}
@media (min-width: 768px) {
  .page-footer__text {
    margin-bottom: 0;
  }
}
.page-footer__list {
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .page-footer__list {
    margin-bottom: 0;
  }
}
.page-footer__link {
  font-size: 14px;
  line-height: inherit;
  font-weight: 400;
  color: #000;
  position: relative;
  left: -20px;
}
.page-footer__img {
  position: absolute;
  top: -7px;
  right: -40px;
}
.page-footer__link:hover .page-footer__img {
  fill: #81B3D2;
}
.page-footer__link:active .page-footer__img {
  fill: #000;
  opacity: 0.3;
}
/* .page-footer__link:hover .page-footer__img path {
  fill: @bg-cause;
}

.page-footer__link:active .page-footer__img path {
  fill: @color-link;
  opacity: 0.3;
} */
.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social__item {
  margin-right: 3px;
  margin-left: 3px;
}
.social__link {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link:hover {
  background-color: #669EC0;
}
.social__link:active {
  background-color: #5496BD;
}
.social__link:active::before {
  opacity: 0.3;
}
.social__link::before {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.social__link--vk::before {
  background-image: url("../../img/social/twitter.png");
}
.social__link--telegram::before {
  background-image: url("../../img/social/facebook.png");
}
.social__link--youtube::before {
  background-image: url("../../img/social/youtube.png");
}
.form-modal {
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  position: absolute;
}
.form-modal * {
  margin-top: 0;
}
@media (min-width: 768px) {
  .form-modal {
    left: 50%;
    transform: translateX(-50%);
  }
}
.form-modal__title {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
.form-modal__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .form-modal__br {
    display: none;
  }
}
.form-modal__btn {
  border: 0;
  color: #FFF;
  background-color: #81B3D2;
}
.error {
  padding: 0 40px;
  padding-bottom: 35px;
  top: 1486px;
}
@media (min-width: 768px) {
  .error {
    width: 400px;
    top: 1410px;
  }
}
.error__title {
  margin-top: 40px;
}
.error__text {
  margin-bottom: 22px;
}
.error__btn {
  width: 180px;
  height: 58px;
}
.review-sent {
  top: 1813px;
  width: 100%;
}
@media (min-width: 768px) {
  .review-sent {
    width: 640px;
    top: 1300px;
  }
}
@media (min-width: 1200px) {
  .review-sent {
    top: 1170px;
  }
}
.review-sent__title {
  margin-top: 38px;
}
.review-sent__text {
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .review-sent__text {
    margin: 0 110px 32px;
  }
}
.review-sent__box {
  padding: 20px 0;
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .review-sent__box {
    padding: 44px 0;
  }
}
.review-sent__btn {
  margin: 0 auto;
  width: 280px;
  height: 58px;
}
@media (min-width: 768px) {
  .review-sent__btn {
    width: 458px;
  }
}

/*# sourceMappingURL=style.css.map */
