@color-text1: #333;
@color-text2: #FFF;
@bg-cause: #81B3D2;
@bg-the-reasons: #EEEEEE;
@color-line: #E5E5E5;
@bg-input: #F2F2F2;
@bg-input-img: #E6E6E6;
@bg-author: #EAEAEA;
@bg-img-intro: url(../../img/back/index-back-mobile.jpg);
@bg-img-sedona: url(../../img/back/back-mobile.jpg);
@icon-house: url(../../img/benefits/icon-house.png);
@icon-gift: url(../../img/benefits/icon-gift.png);
@icon-burger: url(../../img/benefits/icon-burger.png);

.size(@size, @height, @weight) {
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
}

.color-text(@color) {
  color: @color;
}

.list() {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.bg(@color, @img) {
  background-color: @color;
  background-image: @img;
  background-repeat: no-repeat;
}

.bg-item(@img) {
  background: @img no-repeat;
}

.page__body {
  font-family: "PT Sans", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
