// Colors

@color-text1: #333;
@color-text2: #FFF;
@color-link: #000;
@bg-cause: #81B3D2;
@bg-cause-hover: #669EC0;
@bg-cause-active: #5496BD;
@bg-the-reasons: #EEEEEE;
@other-benefits-line: #D6D6D6;
@line: #DBDBDB;
@color-line: #E5E5E5;
@bg-input: #F2F2F2;
@bg-input-img: #E6E6E6;
@bg-author: #EAEAEA;
@active: #766357;
@active-hover: #604E43;
@form-modal: rgba(0, 1, 1, 0.15);

// Address

@bgi-intro-mobie: url("../../img/back/index-back-mobile.jpg");
@bgi-intro-mobie-x2: url("../../img/back/index-back-mobile@2.jpg");
@bgi-sedona-mobie: url("../../img/back/back-mobile.jpg");
@bgi-vector-left-mobile: url("../../img/back/vector-left-mobile.png");
@bgi-vector-rigth-mobile: url("../../img/back/vector-right-mobile.png");
@bgi-intro-tablet: url("../../img/back/index-back-tablet.jpg");
@bgi-intro-tablet-x2: url("../../img/back/index-back-tablet@2.jpg");
@bgi-sedona-tablet: url("../../img/back/back-tablet.jpg");
@bgi-vector-left-tablet: url("../../img/back/vector-left-tablet.png");
@bgi-vector-right-tablet: url("../../img/back/vector-right-tablet.png");
@bgi-intro-desktop: url("../../img/back/index-back-desktop.jpg");
@bgi-intro-desktop-x2: url("../../img/back/index-back-desktop@2.jpg");
@bgi-sedona-desktop: url("../../img/back/back-desktop.jpg");
@bgi-vector-left-desktop: url("../../img/back/vector-left-desktop.png");
@bgi-vector-right-desktop: url("../../img/back/vector-right-desktop.png");
@icon-house: url("../../img/benefits/icon-house.png");
@icon-gift: url("../../img/benefits/icon-gift.png");
@icon-burger: url("../../img/benefits/icon-burger.png");
@input-tel: url("../../img/phone.png");
@input-mail: url("../../img/mail.png");
@input-checked: url("../../img/tick.png");
@bgi-cause-left: url("../../img/cause/cause-left.png");
@bgi-cause-right: url("../../img/cause/cause-right.png");
@social-vk: url("../../img/social/twitter.png");
@social-telegram: url("../../img/social/facebook.png");
@social-youtube: url("../../img/social/youtube.png");
@icon-like: url("../../img/like-icon.png");
@icon-like-white: url("../../img/like-icon-white.png");
@bgi-line: url("../../img/line-1.png");

// Viewports

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
